@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 84 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 307 100% 34%;
    --secondary-foreground: 0 0% 100%;
    --background: 187 33% 100%;
    --foreground: 187 80% 1%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 0%;
    --muted: 307 34% 90%;
    --muted-foreground: 307 6% 33%;
    --accent: 67 100% 34%;
    --accent-foreground: 0 0% 0%;
    --destructive: 3 85% 35%;
    --destructive-foreground: 3 85% 95%;
    --border: 187 14% 91%;
    --input: 187 14% 91%;
    --ring: 187 100% 34%;
  }

  .dark {
    --primary: 96 84% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 307 100% 34%;
    --secondary-foreground: 0 0% 100%;
    --background: 187 46% 2%;
    --foreground: 187 22% 99%;
    --card: 187 46% 3%;
    --card-foreground: 0 0% 100%;
    --popover: 187 46% 3%;
    --popover-foreground: 0 0% 100%;
    --muted: 307 34% 10%;
    --muted-foreground: 307 6% 67%;
    --accent: 67 100% 34%;
    --accent-foreground: 0 0% 0%;
    --destructive: 3 85% 48%;
    --destructive-foreground: 0 0% 100%;
    --border: 187 14% 10%;
    --input: 187 14% 10%;
    --ring: 187 100% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
